doctype html
html(lang="fr")
	head
		title= title
		//meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/bootstrap/css/flat-ui.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-colorpicker.min.css')
		link(rel="shortcut icon" href="/favicon.ico?ver=1")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src='javascripts/socket.io/socket.io.js')
		script(src='bootstrap/js/bootstrap.min.js')
		script(src='bootstrap/js/flat-ui.min.js')
		script(src='bootstrap/js/bootstrap-colorpicker.min.js')
		script(src='javascripts/tock.min.js')
				
	body(ng-controller="maxLampData")
		include ./includes/header.jade
		div#main.container-fluid
			block content
		include ./includes/footer.jade